
@{
    ViewBag.Title = "adminlogout";
}

<h2>Logout Succesfully</h2>

<p>Click Here to Login Again</p>
<ul class="navbar-nav flex-grow-1">
    
    <li>@Html.ActionLink("Login", "Login", "MyUsers", new { area = "" }, new { @class = "nav-link" })</li>
</ul>