
@{
    ViewBag.Title = "logout";
}

<h2>Logout  SuccessFully,</h2>


<h3>Have A Nice Day!</h3>
<p>Click Here to Login Again</p>
<ul class="navbar-nav flex-grow-1">

    <li>@Html.ActionLink("Login", "Login", "MyUsers", new { area = "" }, new { @class = "btn btn-success" })</li>
</ul>
