@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    

    <p>Welcome to our Inventory Management System. Learn more about who we are and what we do.</p>

    <div class="container aos-init aos-animate" data-aos="fade-up">
        

        <div class="row">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                <img src="/NewFolder1/warehouse.jpg" class="img-fluid" alt="Inventory Management System">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <h3>Efficiently Manage Your Inventory</h3>
                <p class="fst-italic">
                    We provide an innovative Inventory Management System that simplifies your inventory tracking and control.
                </p>
                <ul>
                    <li>
                        <i class="bx bx-store-alt"></i>
                        <div>
                            <h5>Streamlined Inventory Tracking</h5>
                            <p>Our system allows you to monitor stock levels, track product movements, and optimize your inventory management process.</p>
                        </div>
                    </li>
                    <li>
                        <i class="bx bx-images"></i>
                        <div>
                            <h5>Real-time Updates and Reporting</h5>
                            <p>Get real-time updates on inventory status, generate detailed reports, and make informed decisions for your business.</p>
                        </div>
                    </li>
                </ul>
                <p>
                    Our team is dedicated to helping you achieve better control over your inventory, reduce costs, and enhance productivity.
                </p>
            </div>
        </div>
    </div>
</main>